@import url("../_static/downloads/8caa7d131ed34ac1e55cab02fadb0da4.css");
@import url("../_static/downloads/03c1e9b01538ee8dd59d1853f28a6c11.css");
@import url("../_static/downloads/25c92e81b8cbaa465af1488ac1620e7a.css");
/** Theme Defualt Color **/
/* Media Quires */
* { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

body { margin: 0; font-family: "PT Sans", sans-serif; font-weight: 400; font-size: 16px; line-height: 24px; }

body.scroll-hide { overflow: hidden; }

.container { max-width: 1200px; padding: 0 30px; }

/* deafult css */
img { max-width: 100%; height: auto; }

ul { list-style: none; padding: 0; margin: 0; }

h1 { font-weight: 400; font-size: 55px; line-height: 79px; margin: 0 0 20px; }

@media only screen and (max-width : 991px) { h1 { font-size: 45px; line-height: 52px; } }

@media only screen and (max-width : 767px) { h1 { font-size: 31px; line-height: 40px; } }

h3 { font-size: 38px; margin-bottom: 0; }

@media only screen and (max-width : 991px) { h3 { font-size: 28px; } }

h4 { font-weight: 400; font-size: 28px; line-height: 38px; }

@media only screen and (max-width : 767px) { h4 { font-size: 22px; line-height: 38px; } }

p { font-weight: 400; font-size: 16px; line-height: 24px; }

@media only screen and (max-width : 767px) { p { font-size: 15px; line-height: 24px; } }

.subHeadingOne { font-weight: 400; font-size: 21px; line-height: 30px; margin: 0 0 20px; }

@media only screen and (max-width : 991px) { .subHeadingOne { font-size: 18px; line-height: 26px; } }

@media only screen and (max-width : 767px) { .subHeadingOne { font-size: 16px; line-height: 25px; } }

.subHeadingTwo { font-size: 18px; line-height: 26px; font-weight: 400; }

@media only screen and (max-width : 991px) { .subHeadingTwo { font-size: 16px; line-height: 24px; } }

@media only screen and (max-width : 767px) { .subHeadingTwo { font-size: 14px; line-height: 26px; } }

/* Boostrap Component Customize Start*/
.btn { height: 40px; min-width: 168px; border: 2px solid transparent; border-radius: 0px; font-weight: 700; font-size: 12px; line-height: 16px; letter-spacing: 1px; text-transform: uppercase; background-color: transparent; display: inline-flex; align-items: center; justify-content: center; box-shadow: inherit !important; outline: 0; text-decoration: none; cursor: pointer; }

.btn.btn-dark { border-color: #3c88b5; color: #ffffff; }

.btn.btn-dark:hover, .btn.btn-dark:active, .btn.btn-dark:focus, .btn-dark:not(:disabled):not(.disabled):active { border-color: #3c88b5; background: rgba(3, 121, 182, 0.4); }

.btn.btn-light { border-color: #3c88b5; color: #005077; }

.btn.btn-light:hover, .btn.btn-light:active, .btn.btn-light:focus, .btn-light:not(:disabled):not(.disabled):active { border-color: #3c88b5; background: rgba(60, 136, 181, 0.4); color: #ffffff; }

.dropdown-menu { background: #ffffff; border-radius: 0px; padding: 9px 8px; max-width: 158px; width: 100%; min-width: 158px; margin-top: 12px; border: 0px; left: 15px !important; box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }

.dropdown-menu::after { content: ''; position: absolute; top: -5px; right: 15px; border-radius: 3px; width: 12px; height: 12px; background: #ffffff; transform: rotate(45deg); }

.dropdown-menu ul { margin: 0; padding: 0; list-style: none; }

.dropdown-menu ul li { padding: 5px 0; border-bottom: 1px solid rgba(37, 45, 90, 0.2); }

.dropdown-menu ul li:first-child { padding-top: 0px; }

.dropdown-menu ul li:last-child { border-bottom: 0px; padding-bottom: 0px; }

.dropdown-menu ul li a { color: #505d68; font-weight: 400; font-size: 14px; line-height: 19px; font-family: "Ubuntu", sans-serif; display: block; }

/* Boostrap Component Customize End*/
.bannerMain { position: relative; background: url(../assets/images/pattern.png) no-repeat right, linear-gradient(141.15deg, rgba(0, 0, 0, 0.5) 1.1%, #008DD2 99.38%), #252D5A; background-size: cover; min-height: 714px; margin-bottom: 64px; }

@media only screen and (max-width : 991px) { .bannerMain { min-height: 700px; margin-bottom: 50px; } }

@media only screen and (max-width : 767px) { .bannerMain { margin-bottom: 28px; } }

.bannerPage { position: relative; background: url(../assets/images/pattern.png) no-repeat right, linear-gradient(141.15deg, rgba(0, 0, 0, 0.5) 1.1%, #008DD2 99.38%), #252D5A; background-size: cover; }

/** Header Css Start **/
.header { padding: 18px 0; -webkit-transition: all 0.5s; -moz-transition: position 2s; -ms-transition: position 2s; -o-transition: position 2s; transition: all 0.5s; }

.header.fixed { position: fixed; top: 0; left: 0; width: 100%; background: linear-gradient(141.15deg, rgba(0, 0, 0, 0.5) 1.1%, #008dd2 99.38%), #252d5a; animation: smoothScroll 0.5s forwards; box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3); z-index: 999; }

@media only screen and (max-width : 767px) { .header { padding: 30px 0; } }

.header .headerInner .headerLogo img { display: block; }

@media only screen and (max-width : 767px) { .header .headerInner .headerLogo img { max-width: 75px; } }

@media only screen and (max-width : 991px) { .header .headerInner .headerNav { position: fixed; right: 0; top: 0; height: 100vh; width: 249px; background-color: #ffffff; transform: scaleX(0); transform-origin: right; transition: all 0.3s ease-in-out; padding: 76px 49px; overflow: auto; } }

@media only screen and (max-width : 991px) { .header .headerInner .headerNav .nav { display: flex; flex-direction: column; margin-bottom: 9px; } }

.header .headerInner .headerNav .nav .nav-item { padding: 0 15px; }

@media only screen and (max-width : 991px) { .header .headerInner .headerNav .nav .nav-item { padding: 0; margin-bottom: 35px; } }

.header .headerInner .headerNav .nav .nav-item .nav-link { color: #ffffff; text-transform: uppercase; font-weight: 400; font-size: 14px; line-height: 18px; letter-spacing: 1px; padding: 0 4px; position: relative; }

@media only screen and (max-width : 991px) { .header .headerInner .headerNav .nav .nav-item .nav-link { font-size: 16px; line-height: 21px; letter-spacing: 1px; color: #252d5a; padding: 0; } }

.header .headerInner .headerNav .nav .nav-item .nav-link::after { content: ''; left: auto; right: 0; bottom: -5px; height: 2px; width: 0%; position: absolute; border-radius: 50px; background-color: #ffffff; -webkit-transition: 0.3s all ease-in-out; -o-transition: 0.3s all ease-in-out; transition: 0.3s all ease-in-out; }

.header .headerInner .headerNav .nav .nav-item .nav-link:hover::after { width: 100%; right: auto; left: 0; }

.header .headerInner .headerNav.open { transform: scaleX(1); z-index: 1; }

.header .headerInner .headerNav .navCloseBtn { display: none; background-color: transparent; position: absolute; top: 15px; right: 15px; border: 0; padding: 0; }

@media only screen and (max-width : 991px) { .header .headerInner .headerNav .navCloseBtn { display: block; } }

.header .headerInner .headerNav .navCloseBtn img { display: block; }

.header .headerInner .headerNav .responsiveasfdropdown { display: none; }

.header .headerInner .headerNav .responsiveasfdropdown .btn-link { background-color: transparent; border: 0px; font-size: 16px; line-height: 21px; letter-spacing: 1px; color: #252d5a; padding: 0; outline: 0; text-decoration: none; cursor: pointer; }

.header .headerInner .headerNav .responsiveasfdropdown ul { padding: 29px 0 0 12px; margin: 0; }

.header .headerInner .headerNav .responsiveasfdropdown ul li { list-style: none; margin-bottom: 10px; }

.header .headerInner .headerNav .responsiveasfdropdown ul li a { font-size: 14px; line-height: 21px; color: #505d68; display: block; }

@media only screen and (max-width : 991px) { .header .headerInner .headerNav .responsiveasfdropdown { display: block; } }

@media only screen and (max-width : 991px) { .header .headerInner .asfDropdown { display: none; } }

.header .headerInner .asfDropdown .dropdown { position: relative; }

.header .headerInner .asfDropdown .dropdown .btn-link { padding: 0 18px 0px 1px; background-color: transparent; font-size: 14px; line-height: 15px; text-align: center; letter-spacing: 1.16667px; text-transform: uppercase; color: #ffffff; position: relative; border: 0; border-bottom: 1px solid #ffffff; border-radius: 0px; box-shadow: inherit; outline: 0; text-decoration: none; cursor: pointer; }

.header .headerInner .asfDropdown .dropdown .btn-link::after { content: ''; position: absolute; right: 3px; top: 50%; width: 8px; height: 5px; border: 0px; margin: 0; transform: translate(0, -50%); background: url(../assets/images/dropdown-icon.svg) no-repeat center; }

.header .headerInner .responsiveMenuIcon { display: none; }

@media only screen and (max-width : 991px) { .header .headerInner .responsiveMenuIcon { display: block; } }

.header .headerInner .responsiveMenuIcon .btn-menu { padding: 0; border: 0px; background-color: transparent; }

/** banner Css Start **/
.bannerSec .bannerInner { padding-top: 151px; }

@media only screen and (max-width : 767px) { .bannerSec .bannerInner { padding-top: 42px; } }

.bannerSec .bannerInner h1 { color: #ffffff; margin-bottom: 10px; }

@media only screen and (max-width : 767px) { .bannerSec .bannerInner h1 { margin-bottom: 20px; } }

.bannerSec .bannerInner .subHeadingOne { color: #ffffff; margin-bottom: 50px; max-width: 475px; }

@media only screen and (max-width : 991px) { .bannerSec .bannerInner .subHeadingOne { margin-bottom: 30px; } }

@media only screen and (max-width : 767px) { .bannerSec .bannerInner .subHeadingOne { margin-bottom: 20px; } }

.bannerSec .bannerInner .rightAlignDetails { padding-top: 25px; }

@media only screen and (max-width : 767px) { .bannerSec .bannerInner .rightAlignDetails { padding-top: 60px; } }

.bannerSec .bannerInner .rightAlignDetails .subHeadingTwo { color: #ffffff; max-width: 555px; margin-left: auto; }

.aboutSec { position: relative; z-index: 1; }

@media only screen and (max-width : 991px) { .aboutSec .container { padding: 0; } }

.aboutSec::after { content: ''; position: absolute; top: 0; height: 100%; width: 50%; background: #f1f4f8; }

@media only screen and (max-width : 991px) { .aboutSec::after { display: none; } }

.aboutSec .aboutInner { display: flex; align-items: center; position: relative; z-index: 10; padding: 0; margin: 0; list-style: none; }

@media only screen and (max-width : 991px) { .aboutSec .aboutInner { flex-direction: column; } }

.aboutSec .aboutInner .aboutImgCol { flex: 0 1 742px; max-width: 742px; }

@media only screen and (max-width : 991px) { .aboutSec .aboutInner .aboutImgCol { max-width: 100%; flex: 1 1 auto; width: 100%; } }

.aboutSec .aboutInner .aboutImgCol img { max-width: 100%; height: auto; display: block; }

.aboutSec .aboutInner .aboutImgCol img.desktopImg { position: relative; left: -15px; }

@media only screen and (max-width : 991px) { .aboutSec .aboutInner .aboutImgCol img.desktopImg { display: none; } }

.aboutSec .aboutInner .aboutImgCol img.responsiveImg { display: none; }

@media only screen and (max-width : 991px) { .aboutSec .aboutInner .aboutImgCol img.responsiveImg { display: block; width: 100%; } }

.aboutSec .aboutInner .aboutDetailsCol { padding-left: 48px; flex: 0 1 408px; max-width: 408px; }

@media only screen and (max-width : 991px) { .aboutSec .aboutInner .aboutDetailsCol { max-width: 100%; width: 100%; flex: 1 1 auto; padding: 58px 30px 0; } }

.aboutSec .aboutInner .aboutDetailsCol h4 { color: #252d5a; margin-bottom: 16px; }

@media only screen and (max-width : 991px) { .aboutSec .aboutInner .aboutDetailsCol h4 { text-align: center; } }

.aboutSec .aboutInner .aboutDetailsCol p { color: #252d5a; margin: 0 0 36px; }

@media only screen and (max-width : 991px) { .aboutSec .aboutInner .aboutDetailsCol p { text-align: center; } }

.aboutSec .aboutInner .aboutDetailsCol ul { margin: 0; padding: 0; counter-reset: listItem; }

.aboutSec .aboutInner .aboutDetailsCol ul li { list-style: none; position: relative; padding-left: 102px; margin-bottom: 40px; font-size: 16px; line-height: 24px; color: #505d68; }

@media only screen and (max-width : 1199px) { .aboutSec .aboutInner .aboutDetailsCol ul li { padding-left: 70px; } }

@media only screen and (max-width : 991px) { .aboutSec .aboutInner .aboutDetailsCol ul li { padding-left: 57px; } }

@media only screen and (max-width : 767px) { .aboutSec .aboutInner .aboutDetailsCol ul li { font-size: 15px; line-height: 24px; margin-bottom: 27px; } }

.aboutSec .aboutInner .aboutDetailsCol ul li:last-child { margin-bottom: 0; }

.aboutSec .aboutInner .aboutDetailsCol ul li::after { counter-increment: listItem; content: counter(listItem); position: absolute; top: 0; left: 0; font-weight: normal; font-size: 44px; line-height: 57px; color: #252d5a; }

@media only screen and (max-width : 991px) { .aboutSec .aboutInner .aboutDetailsCol ul li::after { font-size: 40px; line-height: 44px; } }

@media only screen and (max-width : 767px) { .aboutSec .aboutInner .aboutDetailsCol ul li::after { font-size: 34px; line-height: 44px; } }

.keyfeatures { padding: 90px 0; }

@media only screen and (max-width : 991px) { .keyfeatures { padding: 60px 0; } }

.keyfeatures .key-title-text { font-size: 45px; color: #252d5a; max-width: 458px; margin-bottom: 30px; }

@media only screen and (max-width : 991px) { .keyfeatures .key-title-text { font-size: 35px; } }

@media only screen and (max-width : 767px) { .keyfeatures .key-title-text { font-size: 22px; text-align: center; margin-bottom: 40px; } }

.keyfeatures .key-section-container { max-width: 1006px; padding: 0 30px; margin: 0 auto; width: 100%; }

.keyfeatures ul { padding: 0; display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: 470px 470px; grid-gap: 30px; }

@media only screen and (max-width : 991px) { .keyfeatures ul { grid-template-rows: 400px 400px; } }

@media only screen and (max-width : 767px) { .keyfeatures ul { grid-template-columns: repeat(1, 1fr); grid-template-rows: 360px 360px 360px 360px; } }

.keyfeatures ul li { list-style: none; }

.keyfeatures ul li.key-block { padding: 0 44px; }

.keyfeatures ul li.key-block:first-child { background: url(../assets/images/performance.svg) no-repeat center, #005077; }

.keyfeatures ul li.key-block:nth-child(2) { background: url(../assets/images/runbg.svg) no-repeat bottom, #005077; }

.keyfeatures ul li.key-block:nth-child(2) h3 { margin-top: 0; }

.keyfeatures ul li.key-block:nth-child(3) { background: url(../assets/images/flexbg.svg) no-repeat top, #005077; }

.keyfeatures ul li.key-block:last-child { background: url(../assets/images/usebg.svg) no-repeat center, #005077; }

@media only screen and (max-width : 991px) { .keyfeatures ul li.key-block { padding: 0 30px; } }

.keyfeatures ul li.key-block img { margin-top: 90px; }

@media only screen and (max-width : 991px) { .keyfeatures ul li.key-block img { margin-top: 45px; height: 62px; margin-bottom: 26px; } }

.keyfeatures ul li.key-block h3 { font-weight: 400; color: #ffffff; margin-top: 15px; }

.keyfeatures ul li.key-block p { color: #ffffff; margin-top: 12px; margin-bottom: 0; }

@media only screen and (max-width : 991px) { .keyfeatures ul li.key-block p { font-size: 14px; } }

@media only screen and (max-width : 767px) { .keyfeatures ul li.key-block p { font-size: 12px; line-height: 20px; } }

.organizationsSec { padding: 50px 0 70px; }

@media only screen and (max-width : 767px) { .organizationsSec { padding: 0 0 50px; } }

.organizationsSec h3 { text-align: center; margin-bottom: 26px; color: #252d5a; }

@media only screen and (max-width : 767px) { .organizationsSec h3 { margin-bottom: 10px; font-size: 22px; line-height: 38px; } }

.organizationsSec p { text-align: center; font-size: 24px; line-height: 35px; color: #505d68; max-width: 944px; margin: 0 auto 54px; }

@media only screen and (max-width : 767px) { .organizationsSec p { font-size: 15px; line-height: 24px; margin-bottom: 30px; } }

.organizationsSec ul { padding: 0; margin: 0; display: grid; grid-template-columns: repeat(6, 165px); grid-template-rows: 78px 78px 78px; grid-gap: 20px 30px; list-style: none; border-top: 1px solid #252d5a; padding-top: 37px; }

@media only screen and (max-width : 1199px) { .organizationsSec ul { grid-template-columns: repeat(6, 1fr); } }

@media only screen and (max-width : 991px) { .organizationsSec ul { grid-template-columns: repeat(3, 1fr); grid-template-rows: 78px 78px 78px 78px 78px 78px; } }

@media only screen and (max-width : 767px) { .organizationsSec ul { grid-template-columns: repeat(3, 1fr); grid-template-rows: 41px 41px 41px 41px 41px 41px; padding: 35px 0 0; } }

.organizationsSec ul li { display: flex; align-items: center; justify-content: center; }

.organizationsSec ul li img { max-width: 100%; }

.docSec { padding: 77px 0 87px; background: #003048; }

@media only screen and (max-width : 991px) { .docSec { padding: 50px 0 60px; } }

.docSec ul { display: grid; grid-gap: 30px; grid-template-columns: repeat(3, 1fr); }

@media only screen and (max-width : 991px) { .docSec ul { grid-gap: 35px; } }

@media only screen and (max-width : 991px) { .docSec ul { grid-template-columns: repeat(1, 1fr); } }

.docSec ul li { font-family: "PT Sans Caption", sans-serif; }

@media only screen and (max-width : 991px) { .docSec ul li { margin-top: 25px; } }

.docSec ul li h3 { color: #ffffff; }

.docSec ul li p { margin-bottom: 0; padding-right: 40px; margin-top: 15px; }

@media only screen and (max-width : 991px) { .docSec ul li p { margin-top: 25px; } }

.docSec ul li p a { color: #0379b6; text-decoration: none; transition: 0.2s all; width: 100%; display: block; font-size: 24px; position: relative; line-height: 36px; }

@media only screen and (max-width : 1024px) { .docSec ul li p a { font-size: 18px; line-height: 26px; } }

.docSec ul li p a::after { content: ''; height: 34px; display: block; width: 20px; background: url(../assets/images/right.svg) no-repeat center; position: absolute; right: 0; top: 50%; transform: translateY(-50%); }

.docSec ul li p a:hover { color: #008dd2; }

/** communitySec **/
.communitySec { background: url(../assets/images/communitybg.svg) no-repeat left, linear-gradient(331.12deg, #252d5a -8.22%, #252d5a -3.11%, #005077 62.27%, #0090d7 145.27%, #b5bfff 145.27%); padding: 58px 0 65px; }

@media only screen and (max-width : 991px) { .communitySec { padding: 50px 0 54px; } }

@media only screen and (max-width : 767px) { .communitySec { padding: 40px 0 54px; } }

@media only screen and (max-width : 1024px) { .communitySec .container { padding: 0; } }

.communitySec h3 { text-align: center; color: #ffffff; margin: 0 0 6px; }

@media only screen and (max-width : 1024px) { .communitySec h3 { padding: 0 30px; } }

.communitySec p { margin: 0 0 46px; color: #fff; text-align: center; font-weight: normal; font-size: 24px; line-height: 35px; }

@media only screen and (max-width : 1024px) { .communitySec p { font-size: 20px; line-height: 24px; padding: 0 30px; } }

@media only screen and (max-width : 767px) { .communitySec p { font-size: 15px; line-height: 24px; margin: 0 0 60px; } }

@media only screen and (max-width : 1024px) { .communitySec .communityCardRow { overflow: auto; padding-bottom: 10px; } }

.communitySec .communityCardRow .communityCard { display: grid; grid-template-columns: repeat(3, 1fr); grid-auto-rows: minmax(270px, auto); grid-gap: 30px; position: relative; padding: 0; margin: 0; list-style: none; }

@media only screen and (max-width : 1024px) { .communitySec .communityCardRow .communityCard { grid-auto-rows: auto; display: inline-grid; grid-template-columns: repeat(6, 320px); grid-gap: 0 15px; padding: 0 15px; } }

.communitySec .communityCardRow .communityCard li { text-align: center; background: #ffffff; border-radius: 2px; padding: 31px 38px; display: flex; flex-direction: column; }

@media only screen and (max-width : 1024px) { .communitySec .communityCardRow .communityCard li { padding: 22px 34px 30px; } }

.communitySec .communityCardRow .communityCard li.mailingBox { position: absolute; bottom: 0; right: 0; height: 100%; transform: scale(0); width: 100%; grid-column-start: 2; transition: all 0.3s ease-in-out; transform-origin: bottom right; padding: 83px 140px 83px 123px; }

.communitySec .communityCardRow .communityCard li.mailingBox.open { transform: scale(1); }

@media only screen and (max-width : 1024px) { .communitySec .communityCardRow .communityCard li.mailingBox { position: fixed; top: 20px; left: 20px; right: 20px; bottom: 20px; width: auto; height: auto; z-index: 999; overflow: auto; box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); transform-origin: center; } }

@media only screen and (max-width : 767px) { .communitySec .communityCardRow .communityCard li.mailingBox { padding: 60px 30px 30px 30px; } }

.communitySec .communityCardRow .communityCard li.mailingBox .modalCloseBtn { position: absolute; right: 29px; cursor: pointer; top: 16px; border: 0; background-color: transparent; padding: 2px; height: 31px; font-size: 12px; line-height: 31px; color: #d8d8d8; outline: 0px; display: flex; align-items: center; }

.communitySec .communityCardRow .communityCard li.mailingBox .modalCloseBtn img { margin-left: 5px; }

.communitySec .communityCardRow .communityCard li.mailingBox .modalContent { text-align: left; margin: 0; padding: 0; list-style: none; }

.communitySec .communityCardRow .communityCard li.mailingBox .modalContent li { padding: 0; margin: 0; position: relative; text-align: left; }

@media only screen and (max-width : 1024px) { .communitySec .communityCardRow .communityCard li.mailingBox .modalContent li h5 { padding: 0 0; } }

.communitySec .communityCardRow .communityCard li.mailingBox .modalContent li p { font-size: 18px; line-height: 24px; text-align: left; margin-bottom: 20px; color: #505d68; }

@media only screen and (max-width : 1024px) { .communitySec .communityCardRow .communityCard li.mailingBox .modalContent li p { padding: 0 0; } }

.communitySec .communityCardRow .communityCard li.mailingBox .modalContent li a { margin-left: 0; }

.communitySec .communityCardRow .communityCard li.mailingBox .modalContent li a.mail-link { color: #0379b6; }

.communitySec .communityCardRow .communityCard li.mailingBox .modalContent li a.mail-link:hover { color: #3c88b5; }

.communitySec .communityCardRow .communityCard li.mailingBox .modalContent li .inputGroup { padding-top: 15px; position: relative; max-width: 270px; display: flex; flex-direction: row; }

.communitySec .communityCardRow .communityCard li.mailingBox .modalContent li .inputGroup .form-control { height: 40px; font-weight: normal; font-size: 12px; line-height: 14px; color: #3a3080; border: 1px solid #3a3080; border-radius: 0px; box-shadow: inherit; flex: 1 1 auto; padding: 8px 10px; }

.communitySec .communityCardRow .communityCard li.mailingBox .modalContent li .inputGroup .btn-submit { width: 96px; flex: 0 0 96px; height: 40px; }

.communitySec .communityCardRow .communityCard li h5 { font-weight: normal; font-size: 24px; line-height: 31px; margin: 0 0 8px; color: #252d5a; font-family: "PT Sans Caption", sans-serif; }

@media only screen and (max-width : 1024px) { .communitySec .communityCardRow .communityCard li h5 { padding: 0; } }

@media only screen and (max-width : 767px) { .communitySec .communityCardRow .communityCard li h5 { font-size: 22px; margin: 0 0 10px; line-height: 38px; } }

.communitySec .communityCardRow .communityCard li p { margin: 0 0 23px; font-weight: normal; font-size: 16px; line-height: 24px; color: #505d68; flex: 1 1 auto; }

@media only screen and (max-width : 1024px) { .communitySec .communityCardRow .communityCard li p { font-size: 14px; line-height: 24px; padding: 0; } }

.communitySec .communityCardRow .communityCard li .btn { margin: 0 auto; background: #252d5a; height: 40px; display: flex; align-items: center; justify-content: center; color: #ffffff; transition: all 0.3s ease; font-weight: normal; font-size: 12px; line-height: 16px; text-transform: uppercase; padding: 0 25px; border: 0; min-width: auto; display: inline-flex; }

@media only screen and (max-width : 1024px) { .communitySec .communityCardRow .communityCard li .btn { padding: 0 15px; } }

.communitySec .communityCardRow .communityCard li .btn:hover { background-color: rgba(37, 45, 90, 0.9); }

.footerSec { background: #001B29; font-family: "Ubuntu", sans-serif; font-size: 14px; line-height: 21px; color: #ffffff; padding-bottom: 43px; }

.footerSec h5 { font-size: 14px; margin-bottom: 0; font-weight: normal; }

@media only screen and (max-width : 767px) { .footerSec h5 { margin-top: 20px; max-width: 240px; } }

.footerSec .footerHeader { padding: 18px 0; border-bottom: 1px solid #252d5a; }

@media only screen and (max-width : 767px) { .footerSec .footerHeader { padding: 30px 0; } }

.footerSec .footerHeader p { margin-bottom: 0; }

.footerSec .footernote { padding-top: 30px; }

.followtwitterSec { padding: 83px 0 100px 217px; }

@media only screen and (max-width : 1199px) { .followtwitterSec { padding: 83px 0 100px 30px; } }

@media only screen and (max-width : 1024px) { .followtwitterSec { padding: 48px 0 60px 30px; } }

.followtwitterSec .follow-title { font-size: 50px; font-family: "PT Sans Caption", sans-serif; color: #252d5a; margin-bottom: 20px; }

@media only screen and (max-width : 1024px) { .followtwitterSec .follow-title { font-size: 38px; } }

@media only screen and (max-width : 991px) { .followtwitterSec .follow-title { font-size: 22px; margin-bottom: 5px; } }

.followtwitterSec .customslide p { margin-bottom: 0; }

.followtwitterSec .follow-subtitle { font-size: 24px; color: #3a3080; margin-bottom: 65px; }

@media only screen and (max-width : 991px) { .followtwitterSec .follow-subtitle { margin-bottom: 34px; font-size: 15px; } }

@keyframes smoothScroll { 0% { transform: translateY(-40px); }
  100% { transform: translateY(0px); } }

/* table */
table { width: 100%; margin-bottom: 10px; padding: 0; font-size: 15px; border-collapse: collapse; }

table td { vertical-align: top; border-top: 1px solid #ddd; }

table th, table td { padding: 10px 10px 9px; line-height: 18px; text-align: left; }

/* tag_box ======================================================== */
.community_logo img { margin: 15px; }

.tag_box { list-style: none; margin: 0; padding: 5px 0; overflow: hidden; }

.tag_box li { line-height: 28px; }

.tag_box.inline li { float: left; }

.tag_box a { padding: 3px 6px; margin: 2px; background: #eee; color: #005F6B; border-radius: 3px; text-decoration: none; }

.tag_box a span { vertical-align: super; font-size: 0.8em; }

.tag_box a.active { background: #57A957; border: 1px solid #4C964D; color: #FFF; }

.highlight table td { padding: 5px; }

.highlight table pre { margin: 0; }

.highlight .cm { color: #999988; font-style: italic; }

.highlight .cp { color: #999999; font-weight: bold; }

.highlight .c1 { color: #999988; font-style: italic; }

.highlight .cs { color: #999999; font-weight: bold; font-style: italic; }

.highlight .c, .highlight .cd { color: #999988; font-style: italic; }

.highlight .err { color: #a61717; background-color: #e3d2d2; }

.highlight .gd { color: #000000; background-color: #ffdddd; }

.highlight .ge { color: #000000; font-style: italic; }

.highlight .gr { color: #aa0000; }

.highlight .gh { color: #999999; }

.highlight .gi { color: #000000; background-color: #ddffdd; }

.highlight .go { color: #888888; }

.highlight .gp { color: #555555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaaaaa; }

.highlight .gt { color: #aa0000; }

.highlight .kc { color: #000000; font-weight: bold; }

.highlight .kd { color: #000000; font-weight: bold; }

.highlight .kn { color: #000000; font-weight: bold; }

.highlight .kp { color: #000000; font-weight: bold; }

.highlight .kr { color: #000000; font-weight: bold; }

.highlight .kt { color: #445588; font-weight: bold; }

.highlight .k, .highlight .kv { color: #000000; font-weight: bold; }

.highlight .mf { color: #009999; }

.highlight .mh { color: #009999; }

.highlight .il { color: #009999; }

.highlight .mi { color: #009999; }

.highlight .mo { color: #009999; }

.highlight .m, .highlight .mb, .highlight .mx { color: #009999; }

.highlight .sb { color: #d14; }

.highlight .sc { color: #d14; }

.highlight .sd { color: #d14; }

.highlight .s2 { color: #d14; }

.highlight .se { color: #d14; }

.highlight .sh { color: #d14; }

.highlight .si { color: #d14; }

.highlight .sx { color: #d14; }

.highlight .sr { color: #009926; }

.highlight .s1 { color: #d14; }

.highlight .ss { color: #990073; }

.highlight .s { color: #d14; }

.highlight .na { color: #008080; }

.highlight .bp { color: #999999; }

.highlight .nb { color: #0086B3; }

.highlight .nc { color: #445588; font-weight: bold; }

.highlight .no { color: #008080; }

.highlight .nd { color: #3c5d5d; font-weight: bold; }

.highlight .ni { color: #800080; }

.highlight .ne { color: #990000; font-weight: bold; }

.highlight .nf { color: #990000; font-weight: bold; }

.highlight .nl { color: #990000; font-weight: bold; }

.highlight .nn { color: #555555; }

.highlight .nt { color: #000080; }

.highlight .vc { color: #008080; }

.highlight .vg { color: #008080; }

.highlight .vi { color: #008080; }

.highlight .nv { color: #008080; }

.highlight .ow { color: #000000; font-weight: bold; }

.highlight .o { color: #000000; font-weight: bold; }

.highlight .w { color: #bbbbbb; }

.highlight { background-color: #f8f8f8; }

/*# sourceMappingURL=custom.css.map */