@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./0FlMVP6Hrxmt7-fsUFhlFXNIlpcqfQ.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./0FlJVP6Hrxmt7-fsUFhlFXNIlpcSwSrUSw.ttf) format('truetype');
}
