<div class="communityCardRow">
<ul class="communityCard">
    {% for comlist in site.data.community %}
    <li>
        <h5>{{comlist.cardname}}</h5>
        <p>{{comlist.des}}</p>
        <a href="{{comlist.link}}" class="btn" id="{{comlist.id}}">{{comlist.buttonname}}</a>
    </li>
    {% endfor %}
    <li class="mailingBox" id="mailingModal">
        <button id="closeModal" type="button" class="modalCloseBtn">close <img
            src="assets/images/modal-close-icon.svg" alt="" />
        </button>
        <ul class="modalContent">
          <li>
            <h5>Mailing Lists</h5>
            <p>As per Apache tradition, everything that happens in the community (also) happens in the mail-list.
              Here
              are the relevant mailing lists:</p>

            <ul>
              <li> <a href="mailto:dev@tvm.apache.org" class="mail-link">dev@tvm.apache.org</a> development related activities. </li>
              <li>All discuss forum thread and github issues with RFC COMMUNITY tags are automatically forwarded to
              dev@tvm.apache.org.</li>
              <li> <a href="mailto:discuss-archive@tvm.apache.org" class="mail-link">discuss-archive@tvm.apache.org</a> archive of discuss forum. </li>
            </ul>
          </li>
          <li>
            Email dev-subscribe@tvm.apache.org to subscribe.
            <a href="mailto:dev-subscribe@tvm.apache.org" type="button" class="btn btn-submit">Subscribe</a>
          </li>
        </ul>
      </li>
</ul>
</div>
