<div class="bannerMain">
  {% include header.html %}

    <section class="bannerSec">
      <div class="container">
        <div class="bannerInner">
          <div class="bannerDetails">
            <h1>Apache TVM</h1>
            <p class="subHeadingOne">An Open Machine Learning Compiler Framework</p>
            <a href="/#about" class="btn btn-dark">Learn More</a>
          </div>
          <div class="rightAlignDetails">
            <p class="subHeadingTwo">
              Apache TVM is a machine learning compilation framework, following the principle of Python-first development and universal deployment. It takes in pre-trained machine learning models, compiles and generates deployable modules that can be embedded and run everywhere.
            </p>
          </div>
        </div>
      </div>
      <a name="about"></a>
    </section>
</div>
