<div class="bannerMain">
  {% include header.html %}

    <section class="bannerSec">
      <div class="container">
        <div class="bannerInner">
          <div class="bannerDetails">
            <h1>Apache TVM (incubating)</h1>
            <p class="subHeadingOne">An End to End Deep Learning Compiler Stack for CPUs, GPUs and accelerators</p>
            <a href="/#about" class="btn btn-dark">Learn More</a>
          </div>
          <div class="rightAlignDetails">
            <p class="subHeadingTwo">Apache TVM (incubating) is an open source deep learning compiler stack for CPUs,
              GPUs, and machine learning accelerators. It aims to enable machine learning engineers to optimize and run
              computations efficiently on any hardware backend.</p>
          </div>
        </div>
      </div>
    </section>
</div>
